
{{outlet}}
<h3>A new record is added at the end of list by createRecord.</h3>
<!-- <br>
<h3>This is Nested Route: Add New Route</h3>
		<h3>NAME: {{input value=newModel.name}}</h3>
		<p>AGE: {{input value=newModel.age}}</p>
		<p>ADMIN: {{input value=newModel.admin}}</p>
		<p>AVATAR: {{input value=newModel.avatar}}</p>
		<img src={{newModel.avatar}} alt="Logo">
		<br><br>
		<button class="btn btn-outline-primary btn-lg"{{action "saveAdd" }}>SAVE</button> 
		<button class="btn btn-outline-danger btn-lg"{{action "cancelAdd" }}>CANCEl</button>	    			

		<br><br>{{#link-to "author" tagName="button" class="btn btn-outline-primary btn-lg"}}Go to Authors{{/link-to}}
 -->